.header {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  background-color: white;
  box-shadow: none !important;
  border-bottom: none !important;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: var(--geist-foreground);
  display: inline-block;
  margin-right: 1rem;
  font-weight: normal;
}

.navLink:last-child {
  margin-right: 0;
}

.bold {
  font-weight: bold;
}

.navLink[data-active='true'] {
  color: black;
  font-weight: bold;
}

.userInfo {
  display: inline-block;
  font-size: 13px;
  padding-right: 1rem;
}

.button {
  margin-left: 0.5rem;
}

.logoutButton {
  background-color: #f0f0f0;
  color: #333;
}

@media (max-width: 600px) {
  .header {
    padding: 1rem;

    align-items: flex-start;
  }

  .right {
    justify-content: space-between;
  }

  .userInfo {
    display: none;
  }

  .button {
    margin-left: 0;
  }
}