.typewriter {
  border-right: 2px solid #999;

  overflow: hidden;
  animation: blinkCursor 0.7s step-end infinite;
  color: #999; /* Light gray color */
  font-style: italic; /* Italic text */
}

@keyframes blinkCursor {
  from, to { border-color: transparent }
  50% { border-color: #999; }
}