.post {
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  /* background-color: white; */
  position: relative;
}

.post:hover {
  background-color: #f0f0f0;
}

.title {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.post:hover .title {
  color: #333;
}

.date {
  font-style: italic;
  color: #666;
  white-space: nowrap;
  margin-left: 1rem;
}

.line {
  height: 1px;
  background-color: #ccc;
  flex-grow: 1;
  margin: 0 2rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.post:hover .line {
  transform: scaleX(1);
}

.content {
  /* display: none; */
}

.author {
  font-style: italic;
  color: #666;
}

.actions {
  margin-top: 1rem;
}

.button:hover {
  opacity: 0.8;
}

.page h1 {
  /* padding: 0.0rem 1.5rem; */
}

.mainContent {
  padding-bottom: 2rem;
}

.formContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  /* background-color: white; */
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

.input,
.textarea {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  outline: none;
  box-sizing: border-box;
}

.input {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--primary-color);
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.textarea {
  font-size: 1rem;
  line-height: 1.6;
  resize: none;
  overflow: hidden;
  min-height: 100px;
}

.title {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin: 0 0 1rem 0;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.actions {
  margin-top: 1rem;
}

.back {
  margin-left: 1rem;
  color: #666;
  text-decoration: none;
}

.back:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .formContainer {
    padding: 2rem;
  }

  .input {
    font-size: 2rem;
  }

  .textarea {
    font-size: 1.1rem;
  }
}